body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

select {
    height: 20px;
    width: 150px;
    margin-bottom: 20px;
}

button {
    font-size: 30px;
}